recursive-include . *.rst *.ico *.png

recursive-include rnalysis *.png *.webp *.json *.qss *.ico

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif *.ico
