recursive-include . *.rst *.ico *.png
recursive-include . requirements*.txt

recursive-include rnalysis *.png *.json *.qss *.R *.ico *.css *.js *.html *.md
recursive-include rnalysis/data_files/ *
recursive-exclude rnalysis *.webp

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif *.ico

recursive-exclude rnalysis/gui/videos/checksums *.txt
