numpy==1.20.1
pandas>=1.2.0
matplotlib>=3.3.1
seaborn>=0.10.0
statsmodels>=0.12.0
scikit-learn>=0.23.2
grid_strategy
pyyaml>=5.3.1
UpSetPlot>=0.3.0
matplotlib-venn
scipy==1.6.0
hdbscan==0.8.27
scikit-learn-extra
xlmhg>=2.5.4
numba>=0.51.0
pairwisedist>=1.2.0
requests>=2.24.0
pydot
joblib>=0.17.0
tqdm>=4.51.0
