pip
bump2version
wheel
flake8
coverage
Sphinx
twine
coveralls
py
pytest
pytest-runner
sphinx_rtd_theme
pytest-qt
pytest-xvfb
pytest-random-order
typing_extensions
pyinstaller
pyinstaller-hooks-contrib
rst-to-myst
requests-mock
