numpy>=2.0.0,<3
matplotlib>=3.10
seaborn>=0.13.2
statsmodels>=0.14.0
scikit-learn>=1.5.0
grid_strategy>=0.0.1
pyyaml>=6.0
UpSetPlot>=0.9.0
matplotlib-venn>=1.1.1
scipy>=1.14.0
pairwisedist>=1.3.1
requests>=2.32
graphviz>=0.20.3
joblib>=1.4.2
tqdm>=4.67
appdirs>=1.4.4
typing_extensions>=4.12
PyQt6>=6.8
qdarkstyle>=3
defusedxml>=0.7.1
aiohttp>=3.11
aiodns>=3.2
Brotli>=1.0.9
aiolimiter>=1.2
tenacity>=9.0.0
mslex>=1.3.0
nest-asyncio>=1.6.0
kmedoids>=0.5.3
polars[async,numpy,pyarrow,pandas]>=1.19.0,<2
pandas[performance,parquet]>=2.2,<3
