# FORMAT
# Put your extra requirements here in the following format
#
# package[version_required]: tag1, tag2, ...

hdbscan>=0.8.29:    hdbscan
xlmhg>=2.5.4:       single-set
numba>=0.55.1:      randomization
cutadapt>=4.1:      fastq
pyvis>=0.3.2:       reports
